:root {
    --white: hsl(0, 0%, 100%);

    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);

    --brown-800: hsl(14, 45%, 36%);

    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);

    --font-base: "Outfit", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}

html {
    font-size: 16px;
}

body {
    height: 100%;
    font-family: var(--font-base);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--stone-100);
}

.young-serif {
    font-family: "Young Serif", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.fw-400{ font-weight: 400;}
.fw-600{ font-weight: 600;}
.fw-700{ font-weight: 700;}


.recipe-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 0rem 2rem;
}

.recipe-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--white);
    max-width: 46rem;
}

.recipe-layout img {
    max-width: 100%;
    height: auto;
    margin-bottom: 2.5rem;
}

.recipe-title {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    color: var(--stone-900);
}

.recipe-description {
    line-height: 1.5;
    color: var(--stone-600);
    margin: 1em 0;
}

.prep-info {
    margin: 2rem 0rem;
    background-color: var(--rose-50);
    padding: 1.5rem;
}

.prep-info p {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: var(--rose-800);
}

.prep-list {
    list-style: none;
    padding-left: 0;
}

.prep-info span {
    color: var(--stone-600);
}

.prep-info li{
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
  }

.prep-info li:last-child {
    margin-bottom: 0rem;
}
  
.prep-info li::before {
    content: "•";
    color: var(--rose-800);
    font-size: 1.5rem;
    margin-right: 2rem;
    line-height: 1.5;
    flex-shrink: 0;
}

.title {
    font-size: 1.75rem;
    color: var(--brown-800);
    font-family: "Young Serif";
    margin-bottom: 1.5rem;
}

.ingredients-info {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--stone-150);
}

.ingredients-info, .instructions-info {
    margin-bottom: 2rem;
}

.ingredients-list li{
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: .5rem;
    color: var(--stone-600);
}

.ingredients-list li:last-child {
    margin-bottom: 0rem;
}

.ingredients-list li::before {
    content: "•";
    color: var(--rose-800);
    font-size: 1.5rem;
    line-height: 1.5;
    flex-shrink: 0;
    margin-inline: .5rem 2rem;
}

.instructions-info {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--stone-150)
}

.instructions-info ol {
    margin-left: .5rem;
}

.instructions-info li{
    margin-left: .5rem;
    margin-bottom: .5rem;
    padding-left: 1rem;
    color: var(--stone-600);
}

.instructions-info li::marker {
    color: var(--rose-800);
    font-weight: 600;
}

.instructions-info span {
    font-weight: 600;
}

.nutrition-desctiption {
    margin-bottom: 1.5rem;
}

.nutrition-info {
    padding-bottom: 2.5rem;
    color: var(--stone-600);
}

.nutrition-info table {
    border-collapse: collapse;
    width: 100%;
}

.nutrition-info th {
    font-weight: normal;
    padding-left: 2rem;
}

.nutrition-info td {
    padding-right: 1rem;
    font-weight: 700;
    color: var(--rose-800);
}

.nutrition-info th, td {
    padding-top: .75rem;
    padding-bottom: .75rem;
    text-align: start;
    border-bottom: 1px solid var(--stone-150);
}


@media (min-width: 768px) {
    body {
        min-height: 100vh;
        padding: 2rem;
      }

    .recipe-layout {
        padding: 2.5rem;
        width: 100%;
        border-radius: 1.5rem;
    }

    .recipe-layout img {
        border-radius: 1rem;
    }

    .recipe-content {
        padding: 0rem;
    }

    .nutrition-info {
        padding-bottom: 0rem;
    }
}